* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-size: 18px;
  line-height: 1.5;
  background-color: #fff;
  counter-reset: #111;
  font-family: Trebuchet MS, sans-serif;
}

h1 {
  font-size: 2rem;
  font-weight: normal;
  margin-top: 0;
}

input {
  display: inline-block;
  width: 66%;
  max-width: 760px;
  font-size: 1rem;
  padding: 0.75rem 1rem;
  font-family: Iosevka, monospace;
  border: 1px solid #ccc;
  border-radius: 2px;
  box-shadow: rgba(0, 0, 0, 0.1) 0 2px 0.5rem;
}

code {
  font-family: Iosevka, monospace;
  font-size: 1rem;
}

p {
  margin: 1.5rem 0;
}

.page-home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1rem 1rem 20vh 1rem;
  min-height: 100vh;
  text-align: center;
  background-color: #f9f9f9;
}

.help {
  color: #999;
}

header {
  padding: 1.5rem 1.5rem 1.5rem 6rem;
  background-color: #f9f9f9;
  border-bottom: 1px solid #ccc;
}

.search-result {
  padding: 1.5rem 1.5rem 1.5rem 6rem;
}

.search-result-item {
  width: 66%;
  max-width: 760px;
  padding: 1rem;
  margin-bottom: 1.5rem;
  border: 1px solid transparent;
  border-radius: 2px;
  cursor: pointer;
}

.search-result-item:hover {
  border-color: #ccc;
  box-shadow: rgba(0, 0, 0, 0.05) 0 2px 0.25rem;
}

.search-result-item.selected {
  border-color: #bbb;
  box-shadow: rgba(0, 0, 0, 0.1) 0 2px 0.5rem;
}

.search-result-item-header {
  color: #1184ce;
}
.search-result-item-header pre {
  margin: 0 0 1.5rem 0;
}
.search-result-item-identifier {
  color: #ccc;
  /* color: #99cc99; */
}

/* Syntax Highlighting */

pre.elmsh {
  padding: 10px;
  margin: 0;
  text-align: left;
  overflow: auto;
}
code.elmsh {
  padding: 0;
}
.elmsh-line:before {
  content: attr(data-elmsh-lc);
  display: inline-block;
  text-align: right;
  width: 40px;
  padding: 0 20px 0 0;
  opacity: 0.3;
}

.elmsh {
  color: #24292e;
  background: #ffffff;
}
.elmsh-hl {
  background: #fffbdd;
}
.elmsh-add {
  background: #eaffea;
}
.elmsh-del {
  background: #ffecec;
}
.elmsh-comm {
  color: #969896;
}
.elmsh1 {
  color: #005cc5;
}
.elmsh2 {
  color: #df5000;
}
.elmsh3 {
  color: #d73a49;
}
.elmsh4 {
  color: #0086b3;
}
.elmsh5 {
  color: #63a35c;
}
.elmsh6 {
  color: #005cc5;
}
.elmsh7 {
  color: #795da3;
}
